@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);


body{
    font-family: 'Fira Code', monospace;
    margin: auto;
    max-width: 1290px;
    font-family: 'Nunito Sans', sans-serif;
}


/* 
    NAVIGATIONBAR 
*/

.navigationbar{
    margin-bottom: 2em;
    background: #333333;
    padding: 14px 16px;
    display: none;
}
.navigationbar > a {
    padding-left: 16px;
    text-decoration: none;
    color: ivory;
}


/* 
    FORMS
*/

.forms {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px #E7E7E7 solid;
    display: none;
}

.imgApp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  
}


/* 
    LOGIN 
*/

.f-login > h1, .header-list > p{
    font-family: 'Press Start 2P', cursive; 
}

.f-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px #E7E7E7 solid;
    
}

form > ul{
    padding-left: 0;    
}

form > ul > li, form > fieldset ul> li{
    list-style-type: none;
    margin-bottom: 1em;
}

input { 
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    width: 200px;
    height: 30px;
    border-radius: 100px;
    border-bottom: darksalmon;
    background: #e7e7e7;
    text-indent:20px;
    
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    
}

#login-button, #signup-button, #register-button{
    width: 100%;
    height: 30px;
    border-radius: 100px;
    color: white;

    border: none;
    cursor: pointer;
    outline: inherit;
}

#add-list-button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    color: white;
    background: #ffbe6a;

    border: 1px solid #afafaf;
    cursor: pointer;
    outline: inherit;
}


#login-button{
    background:#33b349;
}

#signup-button, #register-button{
    color: rgb(32, 32, 32);
    background:#fcfcfc;
}


/* 
    SIGNUP 
*/

.f-signup{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px #E7E7E7 solid;
    
}

fieldset{ 
    border: 1px #c7c5c5 solid;
    color: #414141
}

div > input {
    width: auto;
    height: 15px;
}

.f-signup > form > fieldset > ul{
    padding-left: 0;
}


/* 
    DASHBOARD 
*/

.header-list > p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15%;
    min-width: 1290px;
    min-height: 540px;
    border: 1px #1d1d1d solid;
    /* display: none; */
}

.header-list{
    width: 428px;
    height: 88px;
    border: 1px #1d1d1d solid;
    overflow: hidden;
}

.header-task{
    width: 858px;
    height: 88px;
    border: 1px #1d1d1d solid;
    background: rgb(73, 73, 73)
}

#edit-button, #edit-input, #list-header{ margin-left: 32px;}

#edit-input{
    width: 250px;
    height: 20px;
    margin-bottom: 20px;
}

#list-header{ 
    font-size: 24px;
    padding-top:10px;
    margin: 10px 32px 10px;
    color:#fff;
    font-weight: bold;
}

#edit-button{
    
        color: rgb(3, 2, 2);
        border: none;
        background: rgb(236, 236, 210);
        cursor: pointer;
        outline: inherit;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 428px;
    height: 448px;
    background: #EBECF0;
}


#name-list{
    width: 375px;
    height: 380px;
    overflow: scroll;
    /* border: 1px #1d1d1d solid; */
}

#add-list{
    margin-top:2px;
    /* border: 1px #1d1d1d solid; */
}


#name-list > ul, #add-list > ul {
    padding-inline-start: 0;
    
}

#name-list > ul > li {
    list-style: none;
    margin-top: 10px;
    border: 1px #b3c6e7b2 solid;
    overflow: hidden;
    padding: 0 12px;
    background: #f6fcfa
}


#name-list > ul > li:hover{
    border: 1px #9e9e9e solid;
}

#add-list{
    width: 375px;
    height: 64px;
    /* border: 1px #1d1d1d solid; */
}

#add-list > ul > li{
    list-style: none;
    /*  border: 1px #1d1d1d solid;*/
    

}

#add-list > ul{
    margin-block-start: 0;
    margin-block-end: 0;
}



#add-list-input, #add-task-input{
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: #fff;
    
}


/* 
    TASK
*/

.name-task{
    width: 858px;
    height: 448px;
    border: 1px #1d1d1d solid;
}

#div-task{
    width: 858px;
    height: 390px;
    overflow: scroll;
}

#add-task-input{
    margin-top: 20px;
}

#ul-task {
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}

#ul-task > li{
    height: 20px;
    display: flex;
    align-items: center;
}

#ul-task > li:hover{
    background:  #ffd693ee;
}

#ul-task > li{
    list-style: none;
    margin-top: 2px;
    border: 1px #eed48ecb solid;
    overflow: hidden;
    padding: 0 12px;
    background: #f7e2b5
}

h4{
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: justify;
    padding-top: 7px;
}

h4:hover{
   color: #fff; 
   
}